body {
  font-family: "Open Sans", sans-serif;
  color: #831d18;
  background-color: antiquewhite;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  color: darkorange;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  color: darkblue;
}

.headlinks {
  display: flex;
  /*Für Verschieben nötig. Damit fängt es immer an */
  justify-content: space-between;
  /*Verschiedene Verschieben Features. Einfach mit tab durchschauen */
  font-weight: 700;
  align-items: center;
}

a.link1 {
  text-decoration: underline;
  color: crimson;
  font-size: 19px;
  margin-left: 16px;
}

a.link1:hover {
  color: darkblue;
}

a.link2 {
  text-decoration: underline;
  color: crimson;
  font-size: 19px;
  margin-left: 16px;
}

a.link2:hover {
  color: darkblue;
}

a.link3 {
  text-decoration: underline;
  color: crimson;
  font-size: 19px;
  margin-left: 16px;
}

a.link3:hover {
  color: darkblue;
}

.verzeichnisfont-weight {
  font-weight: 100;
}

.imageBevölkerungszahl {
  width: 700px;
  height: 500px;
  display: block;
}

.imageBevölkerungszahltext {
  padding: 8px;
}

.imageGangnam {
  width: 490px;
  height: 653px;
  display: block;
}

.imageGangnamtext {
  padding: 8px;
}

a.gangnamStyle {
  font-weight: 100;
}

.imageHangang {
  width: 720px;
  height: 405px;
  display: block;
}

.imageFlaeche {
  width: 60%;
}

a.linkFlaeche {
  font-weight: 100;
}

.imageHangangtext {
  padding: 8px;
}

.imagelotteWorld {
  width: 765px;
  height: 491px;
  display: block;
}

.imageLotteworldtext {
  padding: 8px;
}

.imageLotteworldtower {
  width: 741px;
  height: 494px;
  display: block;
}

.imageLotteworldtowertext {
  padding: 8px;
}

.imageNtower {
  width: 335px;
  height: 503px;
  display: block;
}

.imageNtowertext {
  padding: 8px;
}

.letzterLink {
  font-size: x-large;
  color: crimson;
}
