body {
  font-family: "Open Sans", sans-serif;
  color: #831d18;
  background-color: antiquewhite;
  padding-left: 75px;
  padding-right: 75px;
}

a {
  color: darkorange;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  color: darkblue;
}

.headlinks {
  display: flex;
  /*Für Verschieben nötig. Damit fängt es immer an */
  justify-content: space-between;
  /*Verschiedene Verschieben Features. Einfach mit tab durchschauen */
  font-weight: 700;
  align-items: center;
}

a.link1 {
  text-decoration: underline;
  color: crimson;
  font-size: 19px;
  margin-left: 16px;
}

a.link1:hover {
  color: darkblue;
}

a.link2 {
  text-decoration: underline;
  color: crimson;
  font-size: 19px;
  margin-left: 16px;
}

a.link2:hover {
  color: darkblue;
}

a.link3 {
  text-decoration: underline;
  color: crimson;
  font-size: 19px;
  margin-left: 16px;
}

a.link3:hover {
  color: darkblue;
}

.verzeichnis {
  display: flex;
  justify-content: space-between;
}

.verzeichnisfont-weight {
  font-weight: 100;
}

.imageVerzeichnis {
  width: 40%;
  margin-left: 650px;
}

.imageVerzeichnisUntertitel {
  margin-left: 900px;
}

.blauerBus {
  color: blue;
}

.gruenerBus {
  color: green;
}

.roterBus {
  color: red;
}

.gelberBus {
  color: goldenrod;
}

.imageBus {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.imageBusText {
  text-align: center;
}

.imageBevölkerungszahl {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.imageBevölkerungszahlText {
  text-align: center;
}

.imageFlaeche {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

a.linkFlaeche {
  font-weight: 100;
}

.imageFlaecheText {
  text-align: center;
}

.GangnamText {
  display: flex;
  justify-content: space-between;
}

.imageGangnam {
  width: 100%;
}

a.gangnamStyle {
  font-weight: 100;
}

.imageHangang {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.imageHangangText {
  text-align: center;
}

.lotteWorldText {
  display: flex;
  justify-content: space-between;
}

.imagelotteWorld {
  width: 100%;
  margin-top: 16px;
  margin-left: 10px;
}

.imageLotteworldText {
  text-align: center;
}

.lotteWorldTowerText {
  display: flex;
  justify-content: space-between;
}

.imageLotteworldtower {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.imageLotteworldtowerText {
  text-align: center;
}

.nTowerText {
  display: flex;
  justify-content: space-between;
}

.imageNtower {
  width: 75%;
}

.imageNtowerText {
  margin-left: 900px;
}

.letzterLink {
  font-size: x-large;
  color: black;
}
